<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Secrets</title>
    </head>
    <body>
        <h1>Welcome, {{ current_user.first_name }}!</h1>
        <button><a href="/logout">Log Out</a></button>
        <form action="/post" method="POST">
            {% csrf_token %}
            <textarea name="content" placeholder="Your secret here..."></textarea>
            <input type="submit" value="Post">
        </form>
        <a href="/popular">Most Popular Secrets</a>
        <h3>Strangers</h3>
        {% for stranger in strangers %}
            <p>
                {{ stranger.first_name }} {{ stranger.last_name }}
                <button><a href="/addfriend/{{ stranger.id }}">Add Friend</a></button>
            </p>
        {% endfor %}
        <br>
        {% if friends %}
            <h3>Friends</h3>
        {% endif %}
        {% for friend in friends %}
            <p>
                {{ friend.first_name }} {{ friend.last_name }}
                <button><a href="/delfriend/{{ friend.id }}">Remove Friend</a></button>
            </p>
        {% endfor %}
        <br>
        <h1>Recent Secrets...</h1>
        {% for secret in secrets %}
            <p>
                {{ secret.content }} ({{ secret.created_at }}) {{ secret.liked_by.all|length }} likes.
                {% if secret.user == current_user %}
                    <a href="/delete/{{ secret.id }}">Delete</a>
                {% else %}
                    {% if current_user in secret.liked_by.all %}
                        <a href="/unlike/{{ secret.id }}">Unlike</a>
                    {% else %}
                        <a href="/like/{{ secret.id }}">Like</a>
                    {% endif %}
                {% endif %}
            </p>
        {% endfor %}
    </body>
</html>
